.App{
  background-color: #F3F2E3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2%;
  column-gap: 3%;
  row-gap: 3%;
  height: 100vh;
  padding-bottom: 2%;
}

.inventory-pane {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  background-color: transparent;
  border: solid;
}

.item-details {
  width: 300px;
}

.item-title {
  font-size: large;
  font-weight: bold;
}