.App{
  background-color: #F3F2E3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2%;
  column-gap: 3%;
  height: 100vh;
}

.inventory-pane {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  padding: 20px;
  justify-content: center;
  background-color: transparent;
}

.item-details {
  width: 300px;
}

.item-title {
  font-size: large;
  font-weight: bold;
}